.env
composer.phar
/vendor/
.history/
.vscode/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# RenderCV: Ignorar carpeta de salida (donde se generan los PDFs)
cv/rendercv_output/
cv/generated/

# Entorno virtual
.venv/
__pycache__/

images/JesusErro_400.jpg
